:root {
  --red: #e63946;
  --drkred: #a61c38;
  --cerulean: #227c9d;
  --sage: #d2cca1;
  --mntcream: #f1faee;
  --lghterblue: #457b9d;
  --oxfrdblue: #011936;
  --charcoal: #465362;
  --font-size: 1.5rem;
  --urbanist: "Urbanist", sans-serif;
  --asset: "Asset", serif;
  --chonburi: "Chonburi", serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--urbanist);
  background-color: var(--oxfrdblue);
  color: var(--mntcream);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--red);
}

a:hover {
  color: var(--drkred);
  text-decoration: none;
}

/* intro section styling */
#intro {
  padding: 3rem 1rem 6rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.gradient {
  height: 4px;
  background: linear-gradient(90deg, var(--cerulean) 0%, var(--sage) 100%);
  border-width: 0;
}
#intro p {
  font-size: 1.4rem;
  line-height: 1.7;
  color: var(--mntcream);
  font-weight: 400;
  width: 70%;
}

#intro .name {
  font-family: var(--chonburi);
  font-size: 1.5rem;
  color: var(--cerulean);
  font-weight: 700;
}

.name span {
  font-family: var(--asset);
  font-size: 4rem;
  color: var(--sage);
  display: block;
  padding: 0.5rem 0;
  font-weight: 300;
  line-height: 1;
}

#intro h2 {
  font-size: 4rem;
  color: var(--red);
  font-weight: normal;
  line-height: 1;
  font-family: var(--chonburi);
}

/* contact section styling */
#contact {
  background-color: var(--sage);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  font-family: var(--chonburi);
  color: var(--cerulean);
}

#contact a {
  font-family: var(--urbanist);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 1rem;
}

#contact p {
  width: 600px;
  margin: auto;
  padding: 1rem;
  text-align: center;
  font-family: var(--urbanist);
}

#contact p:last-child {
  margin-top: 2rem;
}

/* nav bar styling */
nav {
  background-color: var(--oxfrdblue);
  font-family: var(--chon);
  font-size: 80%;
  padding: 1rem 1rem 1rem 1rem;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
}

nav h1 {
  display: block;
}

nav h1 a {
  font-family: var(--urbanist);
  font-size: 2rem;
  font-weight: lighter;
  color: var(--mntcream);
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: var(--mntcream);
  display: block;
}
nav a:hover {
  text-decoration: overline;
  color: var(--red);
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--cerulean);
}
nav [class*="fa-"]:hover {
  color: var(--red);
}

nav h1 a:hover {
  text-decoration: none;
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--cerulean);
  padding: 0 0.5rem;
}

.resume-button {
  padding: 0.5rem;
  background-color: var(--red);
  border-radius: 5px;
  font-weight: 700;
  color: var(--mntcream);
  text-decoration: none;
}
.resume-button:hover {
  background-color: var(--cerulean);
  color: var(--sage);
}

.button {
  padding: 0.5rem;
  background-color: var(--red);
  border-radius: 5px;
  font-weight: 700;
  color: var(--mntcream);
  text-decoration: none;
}

.button:last-child {
  background-color: var(--oxfrdblue);
  color: var(--mntcream);
}
.button:last-child:hover {
  background-color: var(--cerulean);
  color: var(--sage);
}

.button:hover {
  background-color: var(--drkred);
  color: var(--mntcream);
  text-decoration: none;
}

article .button {
  font-size: 1rem;
  margin: 2rem 0rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  text-align: center;
  gap: 1.3rem;
}

footer h2 {
  font-family: var(--urbanist);
  font-size: 1.8rem;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  gap: 3rem;
  margin: 1rem 0;
  padding: 0;
  font-size: 2rem;
}

footer p {
  font-size: 1rem;
}

footer li {
  display: flex;
}
footer [class*="fa-"] {
  font-size: 150%;
  color: var(--cerulean);
}

footer [class*="fa-"]:hover {
  color: var(--red);
}
.secondary-background {
  background-color: var(--sage);
  color: var(--oxfrdblue);
}
#projects {
  padding: 4rem 1rem;
}

#projects h2, .container h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}
.container h2{
  color: var(--oxfrdblue);
  font-family: var(--asset);
}
#projects h3 {
  color: var(--red);
}

#about h3 {
  color: var(--oxfrdblue);
}

#projects h4, #about h4 {
  font-size: 1rem;
  font-family: var(--chonburi);
  margin: 1rem 0;
}

.darkbox {
  background-color: var(--oxfrdblue);
  color: var(--sage);
  border-radius: 10px;
  font-size: 1rem;
  line-height: 1.5;
  padding: 1.3rem;
}

#projects ul, #about ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  font-size: 1rem;
}

#projects img {
  border-radius: 25px;
  margin: 2rem 0 4rem 0;
  border-left: 2px solid var(--red);
  border-top: 2px solid var(--red);
  padding: 1rem;
}

#about img {
  border-radius: 50px;
  margin: 2rem 0 4rem 0;
  border-left: 4px solid var(--oxfrdblue);
  border-top: 4px solid var(--oxfrdblue);
  padding: 1rem;
}

img {
  width: 100%;
}

#about {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin:2rem auto;
}

#about ul{
  color: var(--cerulean);
}
.container {
  padding: 2rem 1rem 2rem 1rem;
  margin: 0 auto;
  background-color: var(--sage);
}


.intro-2{
  background-color: var(--sage);
  width: 100%;
  padding: 4rem 2rem;
}

.intro-2 h2{
  color: var(--red);
  margin-left: 20%;
  margin-bottom: 4rem;
  font-family: var(--chonburi);
  font-size: 4rem;
}

.anamnesis{
  color: #011936;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 15%;
}

.container-row{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.col{
  width: 33%;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.anamnesis .button{
  background-color: var(--red);
  margin: 1rem auto;
}
.container-col{
  display: flex;
  flex-direction: column;
}

.show-case-img{
  border-radius: 50px;
  margin: 2rem 0 4rem 0;
  border-left: 4px solid var(--oxfrdblue);
  border-top: 4px solid var(--oxfrdblue);
  padding: 1rem;
}


@media (max-width: 450px) {
  #intro .name span {
    font-size: 1.8rem;
  }
  .container-row{
    flex-direction: column;
  }
  
  .col{
    width: 100%;
  }
  .show-case-img{
    width: 350px;
    margin: 0;
  }
  #intro .name {
    font-size: 1.5rem;
  }
  .intro-2{
    padding: 2rem 0;

  }
  .intro-2 h2 {
    font-size: 3rem;
    padding: 15px;
    margin: 5px;
  }

  .intro-2 h3 {
    margin: 5px 0px;
  }

  .anamnesis{
    padding: 15px;
  }

  .anamnesis .button{
    margin: 3rem auto;
  }

  #intro p {
    width: 100%;
  }

  #contact p {
    width: 100%;
  }

  #about h2{
    font-size: 2rem;
  }
}


@media (min-width: 450px) and (max-width: 700px) {
  #intro .name span {
    font-size: 2.3rem;
  }

  #contact p {
    width: 100%;
  }
}


@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }
  .text {
    order: 2;
    text-align: right;
  }
  #projects ul {
    justify-content: flex-end;
  }

  #about ul {
    justify-content: flex-end;
  }
  #about article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  #about img {
    grid-column: 1/6;
    grid-row: 1/5;
  }

  #about .text {
    grid-column: 5/11;
    grid-row: 2/4;
    text-align: right;
  }

  #projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  #projects .text {
    grid-column: 5/11;
    grid-row: 1/2;
  }

  #projects .text.middle {
    text-align: left;
    order: 1;
    grid-column: 1/6;
    grid-row: 1/2;
  }

  #projects img.middle {
    grid-column: 5/11;
    grid-row: 1/2;
  }

  #projects .text.text.middle ul {
    justify-content: flex-start;
  }
}

@media (min-width: 850px) {
  nav {
    padding: 3rem 0rem 1rem 0rem;
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }

  #projects {
    max-width: 1200px;
    margin: 0 auto;
  }
  #about {
    max-width: 1200px;
    margin: 0 auto;
  }


  .secondary-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



