:root {
  --red: #ed254e;
  --drkred: #a61c38;
  --cerulean: #3ea7ce;
  --sage: #d2cca1;
  --mntcream: #f4fffd;
  --oxfrdblue: #011936;
  --charcoal: #465362;
  --font-size: 1.5rem;
  --urbanist: "Urbanist", sans-serif;
  --asset: "Asset", serif;
  --chonburi: "Chonburi", serif;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--urbanist);
  background-color: var(--oxfrdblue);
  color: var(--mntcream);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--red);
}

a:hover {
  color: var(--drkred);
  text-decoration: none;
}

/* intro section styling */
#intro {
  width: 60%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


hr {
  margin: 0;
  padding: 0.2rem;
  background-color: var(--sage);
  border-width: 0;
}
#intro p {
  font-size: 1.4rem;
  line-height: 1.7;
  color: var(--mntcream);
  font-weight: 400;
}

#intro .name {
  font-family: var(--chonburi);
  font-size: 1.3rem;
  color: var(--mntcream);
  font-weight: 700;
}

.name span {
  font-family: var(--asset);
  font-size: 4rem;
  color: var(--sage);
  display: block;
  padding: 1rem 0;
  font-weight: 300;
  line-height: 1;
}

#intro h2 {
  font-size: 4rem;
  color: var(--red);
  font-weight: normal;
  line-height: 1;
  font-family: var(--chonburi);
}

/* contact section styling */
#contact {
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  font-family: var(--chonburi);
  color: var(--mntcream);
}

#contact a {
  color: var(--sage);
  font-family: var(--asset);
  font-weight: 1000;
  font-size: 2rem;
}

#contact a:hover {
  color: var(--cerulean);
}

#contact p {
  width: 600px;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

#contact p:last-child {
  margin-top: 2rem;
}

/* nav bar styling */
nav {
  background-color: var(--oxfrdblue);
  font-family: var(--chon);
  font-size: 80%;
  padding: 1rem;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
}

nav h1 {
  display: block;
}

nav h1 a {
  font-family: var(--urbanist);
  font-size: 2rem;
  font-weight: lighter;
  color: var(--mntcream);
}
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: var(--sage);
  display: block;
}
nav a:hover {
  text-decoration: overline;
  color: var(--oxfrdblue);
}

nav [class*="fa-"]{
    font-size: 150%;
    color: var(--cerulean);
}

nav h1 [class*="fa-"]{
    font-size: 100%;
    color: var(--cerulean);
    padding: 0 0.5rem;
}